html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: orange;
}

.description {
    top: 10px;
    position: absolute;
    left: 15px;
    color: yellow;
    font-style: italic;
}

.link {
    text-decoration: none;
}

.letters-o {
    color: black;
    right: 0px;
    position:absolute;
    top:0px;  
    font-size: 3vw;
}

.sun-solid.icon {
    color: #000;
    position: absolute;
    margin-left: 50%;
    margin-top: 60vh;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid currentColor;
    background-color: currentColor;
    box-shadow:
        -80px 0 0 -30px currentColor,  80px 0 0 -30px currentColor,  
        0 -80px 0 -30px currentColor,  0 80px 0 -30px currentColor,  
        -60px -60px 0 -30px currentColor,  -60px 60px 0 -30px currentColor,  
        60px -60px 0 -30px currentColor,  60px 60px 0 -30px currentColor;
}

.link{
    color: white;
position: absolute;
text-align: right;
margin-left: 96vw;
}

.sun {
    background-color: yellow;
    position: absolute;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    margin-top: 50vh;
    margin-left: 30vw;
    
}


.title {
    position: absolute;
    font-size: 10vw;
    margin-left: 40vw;
}

.title::selection{
    background-color: orange;
}

.text {
    color: white;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

.text::selection {
    background-color: orange;
}

.text2 {
    color: black;
}

.width {
    width: fit-content;
}

.offset {
    margin-left: 50px;
}

.cloud_1 {
    animation: move 52s linear infinite;
    position: absolute;
    margin-top: 9vh;
}

.cloud_2 {
    animation: move 35s linear infinite;
    position: absolute;
    margin-top: 18vh;
}

.cloud_3 {
    animation: move 39s linear infinite;
    position: absolute;
    margin-top: 27vh;
}

.cloud_4 {
    animation: move 48s linear infinite;
    position: absolute;
    margin-top: 36vh;
}

@keyframes move {
    to { transform: translateX(100vw);}
}